#程序设置
#--------------------------------------
#开始文件（必须）
.-Topic=Topic/XiaomoPlayer/index.html

#开屏广告yes开启no关闭
.-Kpgg=yes
# 1=虚拟域名映射（支持桥接），2=直接浏览html（不支持桥接）
.-hms=1

#宽窗口高窗口
.-width=800
.-height=600

#标题栏背景
.-TitleBackground=000000
 #左上角文字
.-TitleText=Neon Music Player
 #左上角文字颜色
.-TitleTextColor=FFBFBF

 #置顶窗口（可以图片）
.-AlwaysOnTopText=Load-source/icon/AlwaysOnTopText.png
 #置顶窗口还原（可以图片）
.-AlwaysOnTopTextRecover=Load-source/icon/AlwaysOnTopTextRecover.png
 #置顶窗口 yes=启用，no=禁用
.-AlwaysOnTopEnabled=yes
 #最小化（可以图片）
.-MinimizeBtn=Load-source/icon/MinimizeBtn.png
 #最大化（可以图片）
.-MaximizeBtn=Load-source/icon/MaximizeBtn.png
 #最大化还原（可以图片）
.-MaximizeBtnRecover=Load-source/icon/MaximizeBtnRecover.png
 #最大化是no=启用，yes=禁用
.-HideMaximizeBtn=no
 #关闭（可以图片）
.-CloseBtn=Load-source/icon/CloseBtn.png
#---------------------------------------------