#程序设置
#--------------------------------------
#开始文件
.-Topic=Topic/Neon music/index.html

#宽窗口高窗口
.-width=800
.-height=600

 #背景（可以用图片，左上角文字，左上角文字颜色 ，最小化（可以图片），最大化（可以图片），最大化是否关闭yes或no，关闭（可以图片）
.-TitleBackground=000000
.-TitleText=Neon Music Player
.-TitleTextColor=FFBFBF
.-MinimizeBtn=Icon/MinimizeBtn.png
.-MaximizeBtn=大
.-HideMaximizeBtn=yes
.-CloseBtn=关
#---------------------------------------------