#程序设置
#--------------------------------------
#开始文件（必须）
.-Topic=Topic/XiaomoPlayer/index.html

#开屏广告yes开启no关闭
# 1虚拟域名映射，2直接用本地路径加载 HTML
.-Kpgg=yes
.-hms=1

#宽窗口高窗口
.-width=800
.-height=600

 #背景（可以用图片，左上角文字，左上角文字颜色 ，最小化（可以图片），最大化（可以图片），最大化是否关闭yes或no，关闭（可以图片）
.-TitleBackground=000000
.-TitleText=Neon Music Player
.-TitleTextColor=FFBFBF
.-MinimizeBtn=Icon/MinimizeBtn.png
.-MaximizeBtn=大
.-HideMaximizeBtn=no
.-CloseBtn=关
#---------------------------------------------